<div class="col-6">
    <div class="row bg-primary">
        <div class="col text-center">-{{productos.length}}- PRODUCTOS</div>
    </div>
    <div class="row" *ngIf="productos.length==0">
        <div class="col-12 bg-danger">
            No hay productos
        </div>
    </div>
    <div class="row fila_productos" *ngFor="let p of productos" >
        <div class="col-sm-5 col-lg-3">
            {{p.nombre}}
        </div>
        <div class="col-sm-2 col-lg-1">
            {{p.num}}
        </div>
        <div class="col-sm-5 col-lg-5">
            {{p.categoria}}
        </div>
    </div>
    <div class="form-group">
        <input #nombre type="text" (keydown.enter)="eliminar(nombre.value)"  class="form-control" name="" id="" placeholder="Producto">
    </div>
    <button (click)="eliminar(nombre.value)" type="submit" class="btn btn-primary">Borrar</button>
    <div class="warning bg-warning">
      {{message}}
    </div>
</div>