<form class="col-6" (ngSubmit)="submit()">
    <div class="row bg-primary">
        <div class="col text-center">FORMULARIO</div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="nombre" id="" placeholder="Nombre" [(ngModel)]=usuario.nombre>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="num" id="" placeholder="0" [(ngModel)]=usuario.edad>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <div class="warning bg-warning" *ngIf="usuario.nombre==''">
      El nombre del usuario es obligatorio.
    </div>
</form>